{% extends 'base.html.twig' %}

{% block title %}Make Payment{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}

    {{ parent() }}

    <form action="" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_HxZzNHy8LImKK9LDtgMDRBwd"
            data-amount="999"
            data-name="Dollar Shear Club"
            data-description="Widget"
            data-image=""
            data-locale="auto">
        </script>
    </form>

<div>

</div>
{% endblock %}